* {
    /* color: #F3F3F3; */
    text-decoration: none;
    list-style: none;
    outline: none;
    border-bottom: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #523a69 ;
}

/* este es el buscador */

header.header section.buscador {
   position: absolute;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

/* texto del buscador */
h2.hh {
    font-size: 16pt;
    display: inline;
    color: #f7f7f7;
    margin-left: 300px;
    margin-right: 20px;
    
}

/* botones */
button.Boton {
    padding-left: 15px;
    padding-right: 90px;
    background-color: #D9D9D9;
    color: #9E9E9E;
    border-radius: 20px;
    margin-left: 400px;
    font-size: 20px;
}
/* menu */

main {
    display: flex;
}

h1.logo {
    font-size: 40pt;
    color: #f0f0f0;
    opacity: 58%;
}

main nav.nav {
    padding: 1.3rem;
    background-color: #42275b;   
    
}

ul.menu {
    font-size: 16pt;
    padding: 20px;
    margin-left: 15%;
    color: #0c0c0c;
}
ul.menu a {
    color: #f7f7f7;
}
ul.menu li.texto {
    color: #ECD7DD !important;
    display: flex;

}

ul.menu3 {
    font-size: 16pt;
    padding: 20px;
}


ul.informacion {
    display: block;
    font-size: 16pt;
    padding: 65px;
}
ul.informacion a {

    color: #f7f7f7;
}


ul.informacion img {
    float: left;
}

li.texto {
    padding: 10px;
}

h2.subt {
    font-size: 18pt;
    color: #F3F3F3;
    opacity: 58%;
    
}
h2.subt2 {
    font-size: 18pt;
    color: #F3F3F3;
    opacity: 58%;
    margin-left: 40px;
}

ul.menu3 img {
    float: left;
    width: 20%;
    height: 50px;
    margin-left: 20% ;
    /* margin-top:  */
}
ul.menu3 li {

    color: #f7f7f7;
}
li.texto3 {
    padding: 10px;
    margin-left: 38%;
}
/* lista de canciones */

.canciones {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
    margin-top: 70px;
}

.canciones .cancion {
    width: 200px;
    margin-top: 0%;
}

/* footer */

footer.footer {
    background-color: #2a183c;
    position: sticky;
    bottom: 0;
    opacity: 88%;
}

div.foto img {
    width: 160px;
    height: 150px;
    border-radius: 10px; 
    padding-left: 20px;
}


h3.title {
    font-size: 16pt;
    color: #F3F3F3;
    padding-left: 20px;
    position: absolute;
    top: 40px; 
    padding-left: 200px;
}

p.title2 {
    font-size: 12pt;
    color: #ECD7DD;
    padding-left: 20px;
    position: absolute;
    top: 80px;
    padding-left: 200px;
}
div.barra {

    display: flex;
}





