
* {
    color: #F3F3F3;
    text-decoration: none;
    list-style: none;
    margin: auto;
    outline: none;
    border-bottom: none;
    padding: 0%;
    box-sizing: border-box;
}
body {
background-color: #061F2F;
}
/* este es el buscador */
section.buscador {
    position: absolute;
    display: flex;
    right: 0%;
    gap: 300px;
    margin-top: 30px;


}

/* botones */
button.Boton {
    padding-left: 10px;
    padding-right: 90px;
    background-color: #D9D9D9;
    color: #9E9E9E;
    border-radius: 20px;
}
button.Boton img {

    padding: 0px;
    width: 30%;
    height: 20px;
    margin-top: 5%;
    margin-left: 0%;
}

/* texto del buscador */
h2.hh {
    font-size: 16pt;
    display: inline;
    padding: 50px;
}

/* este es el navegador */
h1.logo {
    font-size: 40pt;
    color: #D9D9D9;
    opacity: 58%;
}

/* menu */
section.nav {
    background-color: #0D3F5E;
    opacity: 43%;
    width: 301px;
    height: 760px;
    position: absolute;
    left: 0%;

}
ul.informacion {
    display: block;
    font-size: 16pt;
    padding: 50px;
    margin-left:  0%;
}
div.container {
    display: block;
    align-items: center;
}
ul.informacion img {
    clear: both;
    float: left;
    width: 40%;
    height: 40px;

}
li.texto {
    padding: 10px;
}


div.container2 {

    display: block;
    align-items: center;
}

h2.subt {
    font-size: 18pt;
    color: #F3F3F3;
    opacity: 58%;
    margin-left: 30px;
}

li.texto {
    padding: 10px;
}
   

h2.subt2 {

    font-size: 18pt;
    color: #F3F3F3;
    opacity: 58%;
    margin-left: 80px;
    padding: 0px;
    
}
ul.menu3 img {

    clear: both;
    float: left;
    width: 15%;
    height: 50px;
    margin-left: 20% ;
}

li.texto3 {

    padding: 10px;
    margin-left: 38%;
 
}

/* canciones */

div.cancionalineacion {

    display: grid;
    position: absolute;
    left: 345px;
    top: 150px;
    gap: 8px;

   
    
}
div.cancionalineacion2 {

    display: grid;
    position: absolute;
    right: 142px;
    top: 150px;
    gap: 8px;
    
}

/*  */
li.cancion {

    background-color: #1163966b;
    display: flex;
    border-radius: 20px;
    width: 387px;
    height: 87px;

}
li.cancion img {
    width: 72px;
    height: 72px;
    margin-left: 10px;
}

div.cancion {
    padding-left: 5px;
}

footer.fotter {

    background-color: #061F2F;
    position: sticky;
    width: 98%;

    
}

div.foto img {

    width: 150px;
    height: 150px;
    border-radius: 10px; 
    padding-left: 20px;

   
}

div.linea {

    display: flex;
    justify-content:center;
    align-items: center;
    width: 0px;
    height: 0px;
    gap:0px;
    position: absolute;
    top: 100px;
    padding-left: 770px;

   
}

h3.title {

    font-size: 16pt;
    color: #F3F3F3;
    padding-left: 20px;
    position: absolute;
    top: 40px; 
    padding-left: 200px;
}

p.title2 {

    font-size: 12pt;
    color: #ECD7DD;
    padding-left: 20px;
    position: absolute;
    top: 80px;
    padding-left: 200px;
    
}

div.iconos {

    display: flex;
    justify-content:center;
    align-items: center;
    width: 0px;
    height: 0px;
    gap: 60px;
    position: absolute;
    top: 30px;
    padding-left: 800px;
    

}

div.linea {


}

div.duracion {
display: flex;
position: absolute;
top: 50px;
right: 30px;
}
